extends layout

block script
    script(type="module", src='/javascripts/admin.js')

block content
    .row.header
        .col-3
            p Товаров в базе данных: #{dbCount}
        .col-3
            button(data-bs-toggle="modal", data-bs-target="#modalAdd") Добавить товар
            button(data-bs-toggle="modal", data-bs-target="#modalUploadXlsx") Импорт из Excel
            button#btnUnloadXlsx Экспорт в Excel
        .col-5
            input.w-50(type="search", placeholder="Поиск", class='ml-3')
            //button(type="search") Поиск
        .col-1
            p.mb-0 #{login}
            a(href="/admin/logout") Выход
    .row
        .col-12
            .content
                table.table.table-striped
                    thead
                        th(data-name="id") ID
                        th(data-name="name") Название
                        th(data-name="manufacturer") Производитель
                        th(data-name="code") Артикул
                        th(data-name="modification-code") Артикул модификации
                        th(data-name="model") Модель
                        th(data-name="price") Цена
                        th(data-name="count") Количество
                        th(data-name="warehouse") Склад
                        th(data-name="rack") Стеллаж
                        th(data-name="shelf") Полка
                    tbody#table
    <!-- modal -->
    .modal.fade#modalAdd(tabindex="-1", aria-hidden="true")
        .modal-dialog
            .modal-content
                .modal-header
                    h4.modal-title Добавление товара
                    button.btn-close(type="button", data-bs-dismiss="modal", aria-label="Close")
                .modal-body
                    form.modalAddForm(name="modalAddForm")
                        .mb-3
                            label.col-form-label Название
                            input.form-control(name="name", required="")
                        .mb-3
                            label.col-form-label Производитель
                            input.form-control(name="manufacturer", required="")
                        .mb-3
                            label.col-form-label Артикул
                            input.form-control(name="code", required="")
                        .mb-3
                            label.col-form-label Артикул модификации
                            input.form-control(name="modificationCode")
                        .mb-3
                            label.col-form-label Модель
                            input.form-control(name="model", required="")
                        .mb-3
                            label.col-form-label Цена
                            input.form-control(name="price", type="number")
                        .mb-3
                            label.col-form-label Количество
                            input.form-control(name="count", required="", type="number")
                        .mb-3
                            label.col-form-label Склад
                            input.form-control(name="warehouse", required="")
                        .mb-3
                            label.col-form-label Стеллаж
                            input.form-control(name="rack", required="", type="number")
                        .mb-3
                            label.col-form-label Полка
                            input.form-control(name="shelf", required="", type="number")
                        .mb-3
                            label.col-form-label Описание
                            textarea.form-control(name="description", required="")
                        .mb-3
                            label.col-form-label Характеристики
                            textarea.form-control(name="specifications", required="")
                .modal-footer
                    button.btn.btn-secondary(type="button", data-bs-dismiss="modal") Закрыть
                    button.btn.btn-primary#btnAddProduct(type="button") Добавить

    .modal.fade#modalUpdate(tabindex="-1", aria-hidden="true")
        .modal-dialog
            .modal-content
                .modal-header
                    h4.modal-title Изменение товара
                    button.btn-close(type="button", data-bs-dismiss="modal", aria-label="Close")
                .modal-body
                    form.modalAddForm(name="modalUpdateForm")
                        .mb-3
                            label.col-form-label Название
                            input.form-control(name="name", required="")
                        .mb-3
                            label.col-form-label Производитель
                            input.form-control(name="manufacturer", required="")
                        .mb-3
                            label.col-form-label Артикул
                            input.form-control(name="code", required="")
                        .mb-3
                            label.col-form-label Артикул модификации
                            input.form-control(name="modificationCode")
                        .mb-3
                            label.col-form-label Модель
                            input.form-control(name="model", required="")
                        .mb-3
                            label.col-form-label Цена
                            input.form-control(name="price", type="number")
                        .mb-3
                            label.col-form-label Количество
                            input.form-control(name="count", required="", type="number")
                        .mb-3
                            label.col-form-label Склад
                            input.form-control(name="warehouse", required="")
                        .mb-3
                            label.col-form-label Стеллаж
                            input.form-control(name="rack", required="", type="number")
                        .mb-3
                            label.col-form-label Полка
                            input.form-control(name="shelf", required="", type="number")
                        .mb-3
                            label.col-form-label Описание
                            textarea.form-control(name="description", required="")
                        .mb-3
                            label.col-form-label Характеристики
                            textarea.form-control(name="specifications", required="")
                        input.form-control(name="id", required="", type="hidden")
                .modal-footer
                    button.btn.btn-secondary(type="button", data-bs-dismiss="modal") Закрыть
                    button.btn.btn-primary#btnUpdateProduct(type="button") Обновить
    .modal.fade#modalDelete(tabindex="-1", aria-hidden="true")
        .modal-dialog
            .modal-content
                .modal-header
                    h4.modal-title Удаление товара
                    button.btn-close(type="button", data-bs-dismiss="modal", aria-label="Close")
                .modal-body
                    form.modalAddForm(name="modalDeleteForm")
                        p Вы действительно хотите удалить товар?
                        input.form-control(name="id", required="", type="hidden")
                        input.form-control(name="placeInArr", required="", type="hidden")
                .modal-footer
                    button.btn.btn-secondary(type="button", data-bs-dismiss="modal") Закрыть
                    button.btn.btn-primary#btnDeleteProduct(type="button") Удалить
    .modal.fade#modalUploadXlsx(tabindex="-1", aria-hidden="true")
        .modal-dialog
            .modal-content
                .modal-header
                    h4.modal-title Импорт из excel
                    button.btn-close(type="button", data-bs-dismiss="modal", aria-label="Close")
                .modal-body
                    form.modalUploadXlsxForm(name="modalUploadXlsx", action="/app/uploadxlsx", method="post", encType="multipart/form-data")
                        p Загрузите файл
                        input(type="file", name="file", accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet")
                        input(type="submit", class="d-none")
                .modal-footer
                    button.btn.btn-secondary(type="button", data-bs-dismiss="modal") Закрыть
                    button.btn.btn-primary#btnUploadXlsx(type="button") Загрузить